// @Author: gtShen
// @Date:   2017-09-03T14:43:16+08:00
// @Email:  sgt_ah@163.com
// @Filename: style.scss
// @Last modified by:   gtShen
// @Last modified time: 2017-09-03T16:21:56+08:00

#box {
    margin-top: 100px;
}

#box a {
    text-decoration: none;
    color: #333;
    margin: 0 5px;
    transition: all .35s;
}

#box a:hover {
    color: #907db5;
    transition: all .35s;
}
#box img{
    position:absolute;
    left: 309px;
    top: 22px;
    border:1px solid #ccc;
}

.share-qrcode{
    border:1px solid #ccc;
}
